# Cleaning and checking data profile of world happiness data set

In [1]:
#importing libraries
import pandas as pd
import numpy as np
import os 
import matplotlib.pyplot as plt
import seaborn as sns
sns.set_style("whitegrid")

import plotly.express as px
import plotly.graph_objs as go
from plotly.offline import init_notebook_mode, iplot
plt.style.use("seaborn-notebook")

In [2]:
path = r'C:\Users\Nbdav\World Happiness analysis'

In [3]:
#importing data sets
world_hap = pd.read_csv(os.path.join(path, 'Data', 'world-happiness-report.csv'), index_col = False)

In [4]:
world_hap_21 = pd.read_csv(os.path.join(path, 'Data', 'world-happiness-report-2021.csv'), index_col = False)

In [5]:
world_hap.head()

,Country name,year,Ladder score,Loggged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
0,Afghanistan,2008,3.724,7.370,0.451,50.80,0.718,0.168,0.882,0.518,0.258
1,Afghanistan,2009,4.402,7.540,0.552,51.20,0.679,0.190,0.850,0.584,0.237
2,Afghanistan,2010,4.758,7.647,0.539,51.60,0.600,0.121,0.707,0.618,0.275
3,Afghanistan,2011,3.832,7.620,0.521,51.92,0.496,0.162,0.731,0.611,0.267
4,Afghanistan,2012,3.783,7.705,0.521,52.24,0.531,0.236,0.776,0.710,0.268

In [13]:
world_hap_21.head(30)

,Country name,Year,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
0,Finland,2021,Western Europe,7.842,10.775,0.954,72.000,0.949,-0.098,0.186
1,Denmark,2021,Western Europe,7.620,10.933,0.954,72.700,0.946,0.030,0.179
2,Switzerland,2021,Western Europe,7.571,11.117,0.942,74.400,0.919,0.025,0.292
3,Iceland,2021,Western Europe,7.554,10.878,0.983,73.000,0.955,0.160,0.673
4,Netherlands,2021,Western Europe,7.464,10.932,0.942,72.400,0.913,0.175,0.338
5,Norway,2021,Western Europe,7.392,11.053,0.954,73.300,0.960,0.093,0.270
6,Sweden,2021,Western Europe,7.363,10.867,0.934,72.700,0.945,0.086,0.237
7,Luxembourg,2021,Western Europe,7.324,11.647,0.908,72.600,0.907,-0.034,0.386
8,New Zealand,2021,North America and ANZ,7.277,10.643,0.948,73.400,0.929,0.134,0.242
9,Austria,2021,Western Europe,7.268,10.906,0.934,73.300,0.908,0.042,0.481
10,Australia,2021,North America and ANZ,7.183,10.796,0.940,73.900,0.914,0.159,0.442
11,Israel,2021,Middle East and North Africa,7.157,10.575,0.939,73.503,0.800,0.031,0.753
12,Germany,2021,Western Europe,7.155,10.873,0.903,72.500,0.875,0.011,0.460
13,Canada,2021,North America and ANZ,7.103,10.776,0.926,73.800,0.915,0.089,0.415
14,Ireland,2021,Western Europe,7.085,11.342,0.947,72.400,0.879,0.077,0.363
15,Costa Rica,2021,Latin America and Caribbean,7.069,9.880,0.891,71.400,0.934,-0.126,0.809
16,United Kingdom,2021,Western Europe,7.064,10.707,0.934,72.500,0.859,0.233,0.459
17,Czech Republic,2021,Central and Eastern Europe,6.965,10.556,0.947,70.807,0.858,-0.208,0.868
18,United States,2021,North America and ANZ,6.951,11.023,0.920,68.200,0.837,0.098,0.698
19,Belgium,2021,Western Europe,6.834,10.823,0.906,72.199,0.783,-0.153,0.646
20,France,2021,Western Europe,6.690,10.704,0.942,74.000,0.822,-0.147,0.571
21,Bahrain,2021,Middle East and North Africa,6.647,10.669,0.862,69.495,0.925,0.089,0.722
22,Malta,2021,Western Europe,6.602,10.674,0.931,72.200,0.927,0.133,0.653
23,Taiwan Province of China,2021,East Asia,6.584,10.871,0.898,69.600,0.784,-0.070,0.721
24,United Arab Emirates,2021,Middle East and North Africa,6.561,11.085,0.844,67.333,0.932,0.074,0.589
25,Saudi Arabia,2021,Middle East and North Africa,6.494,10.743,0.891,66.603,0.877,-0.149,0.684
26,Spain,2021,Western Europe,6.491,10.571,0.932,74.700,0.761,-0.081,0.745
27,Italy,2021,Western Europe,6.483,10.623,0.880,73.800,0.693,-0.084,0.866
28,Slovenia,2021,Central and Eastern Europe,6.461,10.529,0.948,71.400,0.949,-0.101,0.806
29,Guatemala,2021,Latin America and Caribbean,6.435,9.053,0.813,64.958,0.906,-0.038,0.775

In [7]:
#Check for mixed types
for col in world_hap.columns.tolist():
  weird = (world_hap[[col]].applymap(type) != world_hap[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (world_hap[weird]) > 0:
    print (col)

In [8]:
#Check for mixed types
for col in world_hap_21.columns.tolist():
  weird = (world_hap_21[[col]].applymap(type) != world_hap_21[[col]].iloc[0].apply(type)).any(axis = 1)
  if len (world_hap_21[weird]) > 0:
    print (col)

In [9]:
#checking for null values
world_hap.isnull().sum()

Country name                      0
year                              0
Ladder score                      0
Loggged GDP per capita           36
Social support                   13
Healthy life expectancy          55
Freedom to make life choices     32
Generosity                       89
Perceptions of corruption       110
Positive affect                  22
Negative affect                  16
dtype: int64

In [10]:
worlds_nan = world_hap[world_hap['Loggged GDP per capita'].isnull() == True]

In [11]:
worlds_nan

,Country name,year,Ladder score,Loggged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
423,Cuba,2006,5.418,NaN,0.970,68.44,0.281,NaN,NaN,0.647,0.277
436,Cyprus,2020,6.260,NaN,0.806,74.10,0.763,NaN,0.816,0.759,0.284
709,Hong Kong S.A.R. of China,2020,5.295,NaN,0.813,NaN,0.705,NaN,0.380,0.609,0.210
771,Iran,2018,4.278,NaN,0.674,66.00,0.603,NaN,0.703,0.553,0.493
772,Iran,2019,5.006,NaN,0.698,66.30,0.623,NaN,0.728,0.600,0.449
773,Iran,2020,4.865,NaN,0.757,66.60,0.600,NaN,0.710,0.582,0.470
918,Kosovo,2020,6.294,NaN,0.792,NaN,0.880,NaN,0.910,0.726,0.201
1087,Malta,2020,6.157,NaN,0.938,72.20,0.931,NaN,0.675,0.601,0.411
1280,North Cyprus,2012,5.463,NaN,0.871,NaN,0.693,NaN,0.855,0.709,0.405
1281,North Cyprus,2013,5.567,NaN,0.869,NaN,0.775,NaN,0.715,0.622,0.443
1282,North Cyprus,2014,5.786,NaN,0.802,NaN,0.830,NaN,0.692,0.724,0.311
1283,North Cyprus,2015,5.843,NaN,0.791,NaN,0.785,NaN,0.659,0.702,0.319
1284,North Cyprus,2016,5.827,NaN,0.808,NaN,0.796,NaN,0.670,0.644,0.346
1285,North Cyprus,2018,5.608,NaN,0.837,NaN,0.797,NaN,0.614,0.480,0.262
1286,North Cyprus,2019,5.467,NaN,0.803,NaN,0.793,NaN,0.640,0.494,0.296
1337,Palestinian Territories,2018,4.554,NaN,0.819,NaN,0.655,NaN,0.814,0.610,0.419
1338,Palestinian Territories,2019,4.483,NaN,0.833,NaN,0.653,NaN,0.829,0.625,0.400
1559,Somalia,2014,5.528,NaN,0.611,49.60,0.874,NaN,0.456,0.834,0.207
1560,Somalia,2015,5.354,NaN,0.599,50.10,0.968,NaN,0.410,0.901,0.187
1561,Somalia,2016,4.668,NaN,0.594,50.00,0.917,NaN,0.441,0.891,0.193
1562,Somaliland region,2009,4.991,NaN,0.880,NaN,0.746,NaN,0.513,0.819,0.112
1563,Somaliland region,2010,4.657,NaN,0.829,NaN,0.820,NaN,0.471,0.769,0.083
1564,Somaliland region,2011,4.931,NaN,0.788,NaN,0.858,NaN,0.357,0.749,0.122
1565,Somaliland region,2012,5.057,NaN,0.786,NaN,0.758,NaN,0.334,0.735,0.152
1596,South Sudan,2014,3.832,NaN,0.545,49.84,0.567,NaN,0.742,0.614,0.428
1597,South Sudan,2015,4.071,NaN,0.585,50.20,0.512,NaN,0.710,0.586,0.450
1598,South Sudan,2016,2.888,NaN,0.532,50.60,0.440,NaN,0.785,0.615,0.549
1599,South Sudan,2017,2.817,NaN,0.557,51.00,0.456,NaN,0.761,0.586,0.517
1679,Taiwan Province of China,2018,6.467,NaN,0.896,NaN,0.741,NaN,0.736,0.848,0.093
1680,Taiwan Province of China,2019,6.537,NaN,0.893,NaN,0.814,NaN,0.718,0.860,0.093
1681,Taiwan Province of China,2020,6.751,NaN,0.901,NaN,0.799,NaN,0.711,0.845,0.083
1891,Venezuela,2018,5.006,NaN,0.887,66.50,0.611,NaN,0.828,0.759,0.374
1892,Venezuela,2019,5.081,NaN,0.888,66.70,0.626,NaN,0.839,0.761,0.351
1893,Venezuela,2020,4.574,NaN,0.805,66.90,0.612,NaN,0.811,0.722,0.396
1918,Yemen,2018,3.058,NaN,0.789,56.70,0.553,NaN,0.793,0.461,0.315
1919,Yemen,2019,4.197,NaN,0.870,57.50,0.651,NaN,0.798,0.543,0.213

In [12]:
#checking for null values
world_hap_21.isnull().sum()

Country name                    0
Year                            0
Regional indicator              0
Ladder score                    0
Logged GDP per capita           0
Social support                  0
Healthy life expectancy         0
Freedom to make life choices    0
Generosity                      0
Perceptions of corruption       0
dtype: int64

In [14]:
#checking for duplicates
world_hap_dups = world_hap[world_hap.duplicated()]

In [15]:
world_hap_dups

Empty DataFrame
Columns: [Country name, year, Ladder score, Loggged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption, Positive affect, Negative affect]
Index: []

In [16]:
#checking for duplicates
world_hap_dups21 = world_hap_21[world_hap_21.duplicated()]

In [17]:
world_hap_dups21

Empty DataFrame
Columns: [Country name, Year, Regional indicator, Ladder score, Logged GDP per capita, Social support, Healthy life expectancy, Freedom to make life choices, Generosity, Perceptions of corruption]
Index: []

In [18]:
#info on both data sets
world_hap.describe()

,year,Ladder score,Loggged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption,Positive affect,Negative affect
count,1949.000000,1949.000000,1913.000000,1936.000000,1894.000000,1917.000000,1860.000000,1839.000000,1927.000000,1933.000000
mean,2013.216008,5.466705,9.368453,0.812552,63.359374,0.742558,0.000103,0.747125,0.710003,0.268544
std,4.166828,1.115711,1.154084,0.118482,7.510245,0.142093,0.162215,0.186789,0.107100,0.085168
min,2005.000000,2.375000,6.635000,0.290000,32.300000,0.258000,-0.335000,0.035000,0.322000,0.083000
25%,2010.000000,4.640000,8.464000,0.749750,58.685000,0.647000,-0.113000,0.690000,0.625500,0.206000
50%,2013.000000,5.386000,9.460000,0.835500,65.200000,0.763000,-0.025500,0.802000,0.722000,0.258000
75%,2017.000000,6.283000,10.353000,0.905000,68.590000,0.856000,0.091000,0.872000,0.799000,0.320000
max,2020.000000,8.019000,11.648000,0.987000,77.100000,0.985000,0.698000,0.983000,0.944000,0.705000

In [19]:
world_hap_21.describe()

,Year,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
count,149.0,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000,149.000000
mean,2021.0,5.532839,9.432208,0.814745,64.992799,0.791597,-0.015134,0.727450
std,0.0,1.073924,1.158601,0.114889,6.762043,0.113332,0.150657,0.179226
min,2021.0,2.523000,6.635000,0.463000,48.478000,0.382000,-0.288000,0.082000
25%,2021.0,4.852000,8.541000,0.750000,59.802000,0.718000,-0.126000,0.667000
50%,2021.0,5.534000,9.569000,0.832000,66.603000,0.804000,-0.036000,0.781000
75%,2021.0,6.255000,10.421000,0.905000,69.600000,0.877000,0.079000,0.845000
max,2021.0,7.842000,11.647000,0.983000,76.953000,0.970000,0.542000,0.939000

In [24]:
cuba = world_hap_21.loc[world_hap_21['Country name'].str.contains("North cyprus", case=False)]

In [25]:
cuba

,Country name,Year,Regional indicator,Ladder score,Logged GDP per capita,Social support,Healthy life expectancy,Freedom to make life choices,Generosity,Perceptions of corruption
73,North Cyprus,2021,Western Europe,5.536,10.576,0.82,73.898,0.795,0.012,0.626